.BaseTable {
  box-shadow: none !important;
}

.BaseTable__table-frozen-left {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 0 2px 0 #eeeeee !important;
}

.BaseTable__table-frozen-right {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: -1px 0 2px 0 #eeeeee !important;
}

.BaseTable__table-main {
  outline: none !important;
}

.BaseTable__header-cell {
  flex-direction: row;
}

.BaseTable__header-cell-text {
  flex: 1
}

.BaseTable__header-cell .header-cell-menu {
  display: none;
}

.BaseTable__header-cell:hover .header-cell-menu {
  display: block;
}

/* ANIMATION */
.page-enter {
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  transform: translateY(75px);
}
.page-enter-active {
  transition: transform 200ms, opacity 200ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  transform: translateY(0px);;
}
.page-exit {
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 200ms, opacity 200ms;
}
.page-exit-active {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(50px);
}

/* Animate.css */
:root {
  --animate-duration: 1s;
  --animate-delay: 200ms;
  --animate-repeat: 1;
}
.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate__animated.animate__delay-200ms {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.animate__animated.animate__faster {
  -webkit-animation-duration: calc(1s / 10);
  animation-duration: calc(1s / 10);
  -webkit-animation-duration: calc(var(--animate-duration) / 10);
  animation-duration: calc(var(--animate-duration) / 10);
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
